* {
  box-sizing: border-box;
}

html {
  background-color: #282c34;
}

.app {
  text-align: center;
  color: white;
  font-size: calc(10px + 2vmin);
}

.app-header {
  padding: 20px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.app-wrapper.with-header {
  min-height: calc(100vh - 154px);
}

.app-wrapper.with-stretch {
  align-items: stretch;
  justify-content: stretch;
}

.app-content {
  position: relative;
  padding: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.app-content.with-header {
  min-height: calc(100vh - 154px);
}

.app-sidebar {
  padding: 20px;
  width: 450px;
  display: flex;
  flex-direction: column;
  text-align: left;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
}

.app-sidebar p, .app-sidebar span {
  font-size: calc(10px + 0.5vmin);
}

.app-sidebar h4, .app-sidebar h6, .app-sidebar p, .app-sidebar span {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.app-sidebar hr {
  width: 100%;
}

.app-sidebar.with-header {
  min-height: calc(100vh - 154px);
  max-height: calc(100vh - 154px);
}

.app-sidebar .player.self {
  font-weight: bold;
}