* {
  box-sizing: border-box;
}

.app {
  text-align: center;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

.app-header {
  padding: 20px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.app-wrapper {
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.app-content {
  padding: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 150px);
}

.app-sidebar {
  padding: 20px;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  text-align: left;
  min-height: calc(100vh - 150px);
  font-size: calc(10px + 1.5vmin);
}