.game-board-wrap {
  position: relative;
  height: 100%;
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.game-board-wrap:focus {
  border: 0;
  outline: 0;
}

.game-board {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}

.controls {
  text-align: left;
  font-size: calc(10px + 0.7vmin);
  line-height: calc(10px + 1.8vmin);
  font-family: monospace;
}

.control::selection {
  background-color: transparent;
}

.control:active {
  font-weight: bold;
}

.square {
  position: absolute;
  transform: translate(-50%, -50%);
}

.square.center-x {
  z-index: 0;
  width: 99999px !important;
  background: rgba(255,255,255,0.02)
}

.square.center-y {
  z-index: 0;
  height: 99999px !important;
  background: rgba(255,255,255,0.02)
}

.square.placed {
  z-index: 2;
  border: 4px solid black;
}

.square.floating {
  z-index: 3;
  border: 4px solid black;
}

.square.floating.blocked {
  z-index: 3;
  box-shadow: 0 0 17px 2px rgb(150, 0, 0);
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0.8;
}

.color-r {
  background: red;
}

.color-b {
  background: blue;
}

.color-p {
  background: magenta;
}

.color-y {
  background: yellow;
}

.color-g {
  background: green;
}

.color-x {
  background: white;
}

.color-x::after {
  content: '☯';
  color: black;
  font-size: 24px;
  left: 0px;
  top: -2px;
  position: absolute;
}
